<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Stock Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header *ngIf="!readonly">
      File Upload
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col *ngIf="!readonly">
            <input #csvFileInput type="file" id="txtFileUpload" (change)="fileChangedEvent($event)" accept=".csv" />
          </ion-col>
          <ion-col *ngIf="readonly">
            <ion-button [disabled]="!stock_receipt_names[0]" (click)="openStockEntries()" fill="clear" shape="round">
              Open All Entries
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button *ngIf="!readonly" color="light" (click)="saveDraft()">
              Save
            </ion-button>
            <ion-button *ngIf="!readonly" color="medium" (click)="createMaterialTransfer()">
              Submit
            </ion-button>
            <ion-button *ngIf="readonly && status === 'In Transit'" color="tertiary" (click)="acceptTransfer()">
              Accept Transfer
            </ion-button>
            <ion-button *ngIf="readonly && status === 'In Transit'" color="danger" (click)="rejectTransfer()">
              Return Transfer
            </ion-button>
            <ion-text *ngIf="readonly && status !== 'In Transit' && status !== 'Draft'"
              [ngStyle]="{'color': status === 'Returned' ? 'red' : 'green' }">
              <h1>Stock Transfer {{ status }}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <mat-form-field class="example-full-width">
              <mat-label>Remarks</mat-label>
              <textarea matInput [disabled]="readonly" [(ngModel)]="remarks"></textarea>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <form [formGroup]="form">
              <mat-form-field class="example-full-width">
                <input
                  required
                  type="text"
                  autocomplete="off"
                  placeholder="Select territory"
                  matInput
                  formControlName="territory"
                  [matAutocomplete]="territory"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #territory="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let territory of territoryList | async"
                    [value]="territory"
                  >
                    {{ territory }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary">
              Serial Range
            </ion-text>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <mat-form-field class="example-full-width">
              <input [disabled]="readonly" matInput oninput="this.value = this.value.toUpperCase()"
                placeholder="From Range" type="text" name="From Range" [(ngModel)]="rangePickerState.fromRange"
                (ngModelChange)="this.fromRangeUpdate.next($event)" required />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input [disabled]="readonly" type="text" oninput="this.value = this.value.toUpperCase()" matInput
                placeholder="To Range" type="string" name="To Range" [(ngModel)]="rangePickerState.toRange"
                (ngModelChange)="this.toRangeUpdate.next($event)" />
            </mat-form-field>
          </ion-col>

          <ion-col>
            <ion-text color="primary">
              <h3>Total : {{ rangePickerState.serials.length }}</h3>
            </ion-text>
          </ion-col>

          <ion-col>
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Source Warehouse" [disabled]="readonly" matInput [formControl]="warehouseState.s_warehouse"
                [matAutocomplete]="from_warehouse" />
              <mat-autocomplete autoActiveFirstOption #from_warehouse="matAutocomplete">
                <mat-option (onSelectionChange)="updateItemStock($event.source.value)"
                  *ngFor="let s_warehouse of filteredWarehouseList1 | async" [value]="s_warehouse">
                  {{ s_warehouse }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Target Warehouse" matInput [disabled]="readonly" [formControl]="warehouseState.t_warehouse"
                [matAutocomplete]="warehouse" />
              <mat-autocomplete autoActiveFirstOption #warehouse="matAutocomplete">
                <mat-option *ngFor="let warehouse of filteredWarehouseList2 | async" [value]="warehouse.name">
                  {{ warehouse.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <div class="loading-shade" *ngIf="itemDataSource.loading$ | async">
      <mat-progress-bar *ngIf="itemDataSource.loading$ | async" mode="indeterminate"></mat-progress-bar>
    </div>
    <ion-card-header>
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary">
              Items
            </ion-text>
          </ion-card-title>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button [disabled]="readonly" color="tertiary" (click)="addItems()">
            Add Item
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <mat-table #table [dataSource]="itemDataSource" style="width: 100%;">

        <ng-container matColumnDef="item_name">
          <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.item_name }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef>Delete Item</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <ion-button color="danger" fill="clear" (click)="deleteItemRow(row, i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="assigned">
          <mat-header-cell *matHeaderCellDef>Assigned</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.assigned || 0 }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="available_stock">
          <mat-header-cell *matHeaderCellDef>Available Stock</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.available_stock || 0 }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="has_serial_no">
          <mat-header-cell *matHeaderCellDef>Has Serial</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox class="example-margin" [(ngModel)]="row.has_serial_no" [disabled]="true">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="add_serial">
          <mat-header-cell *matHeaderCellDef>Add Serials</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ion-button fill="outline" (click)="addRow(row)">
              <ion-icon name="Add"></ion-icon>
            </ion-button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="itemDisplayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemDisplayedColumns"></mat-row>
      </mat-table>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary">
              Transfer Serials
            </ion-text>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <mat-table #table [dataSource]="materialTransferDataSource" style="width: 100%;">
        <ng-container matColumnDef="s_warehouse">
          <mat-header-cell *matHeaderCellDef>Source Warehouse</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.s_warehouse }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="t_warehouse">
          <mat-header-cell *matHeaderCellDef>Target Warehouse</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.t_warehouse }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="item_name">
          <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.item_name }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="qty">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.qty }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serial_no">
          <mat-header-cell *matHeaderCellDef>Serials</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <input matInput oninput="this.value = this.value.toUpperCase()" *ngIf="!row.serial_no[1]"
              [disabled]="row.serial_no[0] === 'Non Serial Item' ? true : false" [(ngModel)]="row.serial_no[0]" />
            <p *ngIf="row.serial_no.length === 1 ? false : true">
              {{ getSerialsInputValue(row) }}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef>Delete Serials</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <ion-button [disabled]="readonly" color="danger" fill="clear" (click)="deleteRow(row, i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="materialTransferDisplayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="
            let row;
            columns: materialTransferDisplayedColumns;
            let i = index
          "></mat-row>
      </mat-table>
    </ion-card-content>
  </ion-card>
</ion-content>