.sc-ion-card-md-h {
  min-height: 90vh;
}

.search-models {
  padding: 0em 1em 0em 1em;
}

.date-filter-text {
  font-size: 0.7rem;
}

.full-width {
  width: 100%;
  color: black;
}

.example-container {
  box-shadow: none;
  height: auto;
  width: 100%;
  overflow: auto;
}

// common width for all columns
[class*='mat-column-']{
  flex: 0 0 9% !important;
  min-width: 150px !important;
}

// similarly override any table column with name from matColumnDef.
.mat-column-sr_no {
  flex: 0 0 5% !important;
  min-width: 10px !important;
}